VITE_BASE44_APP_ID=cbef744a8545c389ef439ea6
VITE_BASE44_APP_BASE_URL=https://my-to-do-list-81bfaad7.base44.app
VITE_MARTIN_URL=http://localhost:3000
# VITE_PMTILES_URL=https://your-r2-bucket.example.com/overture-buildings.pmtiles
